body {
    background: #010101;
    overflow: hidden;
    color: #fefefe;
}

.main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    justify-content: space-between;
    align-content: space-evenly;
    grid-gap: 1%;
    height: 100vh;
    width:100%;
}

.text {
    
    font-family: sans-serif;
    text-align: center;
}

.inspo {
    color: white;
    align-self: stretch;
    grid-column: 1/2;
    font-family: sans-serif;
    display: flex;
    flex-wrap: wrap;
    padding: 0 0px;
    overflow: auto;
    z-index: 10;
    grid-row: 1;
}

.column {
    flex: 25%;
    max-width: 24%;
    padding: 0.5% 0.5%;
}

.column img {
    margin-top: 8px;
    vertical-align: center;
}

.metaData,.click {
    grid-column:2/2;
    align-self:start;
    grid-row:1;
}

.metaData {
    align-self:center;
}

.enlarged {
    grid-column: 1/2;
    z-index: 1;
    align-self: center;
    justify-self: center;
    height: 80%;
    width: 80%;
    max-width:80%;
    max-height:80%;
}

.enlargedPhoto {
    max-width: 100%;
    max-height: 100%;
}

#metaList {
    text-align:left;
    padding-left:0px;
    list-style:none;
    line-height:24px;
    font-size: 18px;
}

.submit {
    grid-column:2/2;
    align-self:end;
    grid-row:1;
}

.shareFormWrap {
    grid-column: 2/2;
    align-self:center;
    grid-row:1;
    text-align:left;
}

@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 49%;
        max-width: 50%;
    }
    .metaData {
        align-self:center;
    }
}

@media screen and (max-width: 600px) {
    body {
        width:100%
    }
  .column {
    -ms-flex:100%;
    flex: 100%;
    max-width: 100%;
  }

  .main {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    width:100%;
  }

  .metaData, .shareFormWrap, .submit,.click {
    grid-column:1/1;
    z-index:10;
  }

  .enlarged {
    grid-row:1/1;
    grid-column:1/1;
    align-self:start;
    justify-self:start;
  }
  .enlargedPhoto {
      width:95vw;
      justify-self:start;
  }
  .metaData {
      grid-row:2/2;
    align-self:start;
    justify-self:start;
    width:95vw;
    padding-left:0px;
  }
  #metaList {
      padding-left:0px;
      word-wrap: break-word;
  }
}